# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# PyCharm project files
.idea/

# macOS / Linux / Windows OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Python egg
*.egg
*.egg-info/
dist/
build/

# Test results
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# Custom files to ignore
coursera_cookies.json
git_aliases.sh
subtitulos.json

# Ignorar todo el contenido de salida_descarga y salida_procesados,
# pero mantener las carpetas en el repo

salida_crea_archivos/*
!salida_crea_archivos/.placeholder

salida_descarga/*
!salida_descarga/.placeholder

salida_procesados/*
!salida_procesados/.placeholder

salida_limpia/*
!salida_limpia/.placeholder

prompts_generados/*
!prompts_generados/.placeholder

resumenes_generados/*
!resumenes_generados/.placeholder

# Archivos de entorno
.env
.env.*.local
*.env