# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# PyCharm project files
.idea/

# macOS / Linux / Windows OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Python egg
*.egg
*.egg-info/
dist/
build/

# Test results
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
pytest_cache/

# Custom files to ignore
coursera_cookies.json
git_aliases.sh
